Repository intel/pmem-csi, pull requests merged in 2019-06, with the labels that each got.

#236 Add support to deploy GoVM with Clear Linux
  Makefile
  README.md
  deploy/kubernetes-1.13/pmem-csi-direct-testing.yaml
  deploy/kubernetes-1.13/pmem-csi-direct.yaml
  deploy/kubernetes-1.13/pmem-csi-lvm-testing.yaml
  deploy/kubernetes-1.13/pmem-csi-lvm.yaml
  deploy/kubernetes-1.14/pmem-csi-direct-testing.yaml
  deploy/kubernetes-1.14/pmem-csi-direct.yaml
  deploy/kubernetes-1.14/pmem-csi-lvm-testing.yaml
  deploy/kubernetes-1.14/pmem-csi-lvm.yaml
  deploy/kustomize/driver/pmem-csi.yaml
  deploy/kustomize/kubernetes-1.13-direct-coverage/kustomization.yaml
  deploy/kustomize/kubernetes-1.13-lvm-coverage/kustomization.yaml
  deploy/kustomize/kubernetes-1.14-direct-coverage/kustomization.yaml
  deploy/kustomize/kubernetes-1.14-lvm-coverage/kustomization.yaml
  deploy/kustomize/patches/lvm-patch.yaml
  test/clear-kvm.make
  test/runqemu-ifdown
  test/runqemu-ifup
  test/setup-clear-govm.sh
  test/setup-clear-kvm.sh
  test/setup-deployment.sh
  test/setup-kubernetes.sh
  test/start-kubernetes.sh
  test/start-stop.make
  test/start_kubernetes.sh
  test/start_qemu.sh
  test/test-config.sh
Labels: testing

#299 README: add "reporting security vulnerability" guidelines.
  README.md
Labels: doc

#277 LVM-mode improvements: drop -namespacesize, wait for device creation, improve locking
  DEVELOPMENT.md
  README.md
  deploy/kubernetes-1.13/pmem-csi-lvm-testing.yaml
  deploy/kubernetes-1.13/pmem-csi-lvm.yaml
  deploy/kubernetes-1.14/pmem-csi-lvm-testing.yaml
  deploy/kubernetes-1.14/pmem-csi-lvm.yaml
  deploy/kustomize/patches/lvm-patch.yaml
  docs/diagrams/pmem-csi.dia
  docs/images/devicemodes/pmem-csi-direct.png
  docs/images/devicemodes/pmem-csi-lvm.png
  pkg/pmem-device-manager/pmd-lvm.go
  pkg/pmem-device-manager/pmd-ndctl.go
  pkg/pmem-device-manager/pmd-util.go
  pkg/pmem-ns-init/main.go
  pkg/pmem-ns-init/main_test.go
Labels: LVM-mode
